REMOTE_BASE_URL=your-rclone-config-remote
REMOTE_BASE_FOLDER=datasets

RCLONE_REMOTE=your-rclone-config-remote
REMOTE_MELSPEC_FOLDER=melspec

# Inclusive
START_SUBFOLDER=0

# Exclusive
END_SUBFOLDER=100

# Depending on the number of cores your device has
NUM_PROCESSES=4