REMOTE_BASE_URL=your-rclone-config-remote
REMOTE_BASE_FOLDER=datasets

RCLONE_REMOTE=your-rclone-config-remote
REMOTE_MELSPEC_FOLDER=melspec

# Inclusive
START_SUBFOLDER=0

# Exclusive
END_SUBFOLDER=100

# Depending on the number of cores your device has
NUM_PROCESSES=4

# This is inside the container
TRAIN_CSV=/app/autotagging_moodtheme-train_clean.csv
VAL_CSV=/app/autotagging_moodtheme-validation_clean.csv
TEST_CSV=/app/autotagging_moodtheme-test_clean.csv