# Check if you need slash at the beginning and end 
REMOTE_BASE_URL=https://example.com/api
REMOTE_BASE_FOLDER=/datasets/

RCLONE_REMOTE=your-rclone-config-remote
REMOTE_MELSPEC_FOLDER=melspec

REMOTE_USERNAME=
REMOTE_PASSWORD=

# Inclusive
START_SUBFOLDER=0

# Exclusive
END_SUBFOLDER=100