# ROCm only
HSA_OVERRIDE_GFX_VERSION=10.3.0
LD_LIBRARY_PATH=/opt/rocm/lib

# Remote to your remote storage using rclone
RCLONE_REMOTE=
REMOTE_MELSPEC_FOLDER=

START_SUBFOLDER=0
END_SUBFOLDER=100

# Can be set to True on NVIDIA devices (try it out yourself)
TORCH_BACKEND_CUDNN_ENABLED=false
TORCH_BACKEND_CUDNN_BENCHMARK=false

# This is from ../prep/preprocess.py; hard-coded so as to not cause import issues during build
# ["5_", "15_", "30_"]
MELSPEC_PREFIX_INDEX=

MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
MLFLOW_TRACKING_URI=

# Change this to absolute
TRAINING_METADATA_CSV=../prep/autotagging_moodtheme-train_clean.csv