# ROCm only
HSA_OVERRIDE_GFX_VERSION=10.3.0
LD_LIBRARY_PATH=/opt/rocm/lib

# Remote to your remote storage using rclone
RCLONE_REMOTE=
REMOTE_MELSPEC_FOLDER=

START_SUBFOLDER=0
END_SUBFOLDER=100

# This is from ../prep/preprocess.py; hard-coded so as to not cause import issues during build
# ["5_", "15_", "30_"]
MELSPEC_PREFIX_INDEX=