# ROCm only
HSA_OVERRIDE_GFX_VERSION=10.3.0
LD_LIBRARY_PATH=/opt/rocm/lib

# Remote to your remote storage using rclone
RCLONE_REMOTE=
REMOTE_MELSPEC_FOLDER=

START_SUBFOLDER=0
END_SUBFOLDER=100

NUM_PROCESSES=2

# Can be set to True on NVIDIA devices (try it out yourself)
TORCH_BACKEND_CUDNN_ENABLED=false
TORCH_BACKEND_CUDNN_BENCHMARK=false

# This is from ../prep/preprocess.py; hard-coded so as to not cause import issues during build
# ["5_", "15_", "30_"]
MELSPEC_PREFIX_INDEX=

MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
MLFLOW_TRACKING_URI=

# Change this to absolute
TRAINING_METADATA_CSV=../prep/autotagging_moodtheme-train_clean.csv
VALIDATION_METADATA_CSV=../prep/autotagging_moodtheme-validation_clean.csv

# For re-training or continue training a model at train.py
# Set to 0 if not needed or if already set at train.py
RUN_ID=0

TESTING_METADATA_CSV=../prep/autotagging_moodtheme-test_clean.csv

# Specify target Run ID to testing script at testing.py
TEST_RUN_ID=

# The name of the experiment containing the runs you want to filter at testing.py
SEARCH_EXPERIMENT_NAME=
TOP_N_MODELS=3

# Tell download_archived_melspecs.py and extract_archived_melspecs.py what split to download from remote
SPLIT_TO_DOWNLOAD=test
SPLIT_TO_EXTRACT=test

# This is for post-run result processing
DB_USER=mlflow
DB_PASS=
DB_HOST=
DB_PORT=5432
DB_NAME=mlflow_db