~$*
.~lock*
manual-check.*
melspecs/
download_logs.txt
__pycache__
docker-compose.yml
training_logs.txt
training_logs*.txt
train*.py
testing*.py
!testing_all_metrics.py
testing_logs*.txt
params*.json
!params.example.json
f_train*.py
# mlflow_pgdump
textlogs
tempcsv
tempdemo
prepare_demo.py
!params_cnn_f2.json
!params_gru_f2.json
!params_attn_f2.json
mlruns